*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    margin:.5rem;
    line-height: 1.6;
}
#navbar{
    background-color:aqua;
    position:fixed;
    z-index:1;
    width:100vw;   
    padding: 2rem; 
}
#welcome-section{
    height:100vh;
    width: 100%;
    background-color: black;
    color: aqua;
    text-align: center;
    padding-top: 50vh;
}

ul{
    width:50%;
    display:flex;
    justify-content:space-around;
    list-style:none;
}
a {
    text-decoration: none;
}
#navbar ul{
    float: right;
}
#projects{
    height:100vh;
    background-color: lightslategray;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    padding-top: 18vh;
    padding-bottom: 1rem;
    
}
.project-tile{
    background-color: white;
    padding: 1rem;
    width:40vw;
    border-radius: 16px;
}

#contact{
    height:100vh;
    background-color:lightslategray ;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
#contact h1, #contact ul li a{
    color: white;
    background-color: grey;
    padding: 0.25rem;
}

@media (max-width:700px){
#projects{
    flex-direction:column;
}
}
